.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.isDone {
    text-decoration: line-through;
    color: darkred;
    font-weight: bold;
}

.isActive {
    color: green;
    font-weight: bold;
}

.active {
    background-color: #009900;
    color: white;
    font-weight: bold;
    border: 2px solid #009900;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.error {
    border: 5px solid red;
    width: 210px;
}
.inputName {
    margin: 10px;
}

.filterButton {
    margin: 10px;
}